/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    background-color: #EAEEF1 !important;
    background: #EAEEF1 !important;
    color: #4C545B !important;
    margin: 0px !important;
    border: 0px !important;
    padding: 0px !important;
    direction: ltr;
    font-family: Montserrat !important;
    font-size: 16px !important;    
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
}

#mdb-preloader.loaded {
    opacity: 0;
    transition: .3s ease-in 1s;
}

#mdb-preloader {
    background-color: #4C545B !important;
    color: #3DBFD9 !important;
}

#mdb-preloader .spinner-layer {
    color: #3DBFD9 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Righteous', cursive !important;
}

.navbar {
    background-color: #4C545B !important;
    background-color: #4C545B !important;
    color: white !important;
    font-family: Righteous !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 22px !important;
    height: 60px !important;
}

.btn-primary {
    color: #fff !important;
    background: #3DBFD9 !important;
    box-shadow: 0px 4px 14px rgba(198, 231, 250, 0.08) !important;
    font-size: 1rem;
}

btn-white:not([disabled]):not(.disabled):active, .btn-white:not([disabled]):not(.disabled).active, .show > .btn-white.dropdown-toggle {
    background-color: #3DBFD9 !important;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    color: white;
    font-size: 1rem;
}

.active-cyan input[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan .fa, .active-cyan-2 .fa {
    color: #3DBFD9;
}

.md-form .prefix.active {
    color: #3DBFD9 !important;
}
.fas {
    color: #3DBFD9 !important;
}

input:focus:not([readonly]) {
    box-shadow: 0 1px 0 0 #3DBFD9 !important;
    border-bottom: 1px solid #3DBFD9 !important;
}

.circle {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    line-height: 100px;
    vertical-align: central;
    margin: 0px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    /*background: radial-gradient(circle at center,white 54%,transparent 54.5%), linear-gradient(to right,#3DBFD9 50%,#4C545B 0);*/
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.side-nav .collapsible a{
    font-weight: 700 !important;
    color: white !important;
    font-size: 1rem !important;
}

.card .card-body .card-text{
    font-size: 1.1rem !important;
}


.modal-dialog.modal-notify.modal-info .modal-header {
    background-color: #4dd0e1 !important;
}

.btn-outline-info {
    color: #4dd0e1 !important;
    background-color: transparent !important;
    border: 2px solid #4dd0e1 !important;
}