@model IEnumerable<string>
@{ 
   var i= 0;
}
<style>
    /*.tcube a {
        color: #3DBFD9 !important;
    }*/
</style>
@if (Model == null || Model.Count() == 0)
{
    <h3>Error getting bins. Please try again.</h3>
    return;
}

@foreach (var item in Model)
{
    <!-- Card -->
    <div id="card_@i" class="tcube card promoting-card m-3">
        <!-- Card content -->
        <div class="card-body d-flex flex-row">
            <!-- Content -->
            <div class="w-100">
                <!-- Title -->
                <h5 class="card-title font-weight-bold"><a onclick="bin_selected('@item');">@item<i class="fa fa-chevron-right float-right" style="color: #3DBFD9 !important"></i></a></h5>
            </div>
        </div>
    </div>
    i++;
    <!-- Card -->
}


