@page
@model HarelTech.WMS.App.CompanyModel
@{
    ViewData["Title"] = "Company";
    ViewData["PageTitle"] = "Quick WMS";
    var cmps = ViewData["Companies"] as SelectList;
    var whs = ViewData["Warhouses"] as SelectList;
}
@Html.AntiForgeryToken()
<div class="animated fadeIn faster" style="margin-top:80px;">
    <div class="text-center">
        <h2 style="font-family: Montserrat !important;font-weight:500 !important;">
        Select Company &amp; <br>Warhouse
        </h2>
    </div>

    <div class="row mt-5">
        <div class="col-10 col-md-8 col-lg-4 mx-auto">
            <form id="frmCompany" style="color: #757575;" method="post">
                <input type="hidden" id="CompanyName" name="CompanyName" />
                <input type="hidden" id="WarhouseName" name="WarhouseName" />
                <div class="form-group">
                    <label for="Company" style="font-weight: 600;">Company</label>
                    <select asp-for="Company" class="form-control" id="Company" asp-items="@cmps" required onchange="get_warhouses();">
                    </select>
                </div>
                <div class="form-group">
                    <label for="Warhouse" style="font-weight: 600;">Warhouse</label>
                    <select class="form-control" id="Warhouse" asp-for="@Model.Warhouse" asp-items="@whs" required onchange="select_change();">
                    </select>
                </div>
                <button class="btn btn-primary btn-block my-4 waves-effect" onclick="submit_company();">
                    Next
                    <i class="fas fa-arrow-right float-right"></i>
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        select_change();
    });

    function select_change() {
        $("#CompanyName").val($("#Company option:selected").text());
        $("#WarhouseName").val($("#Warhouse option:selected").text());
    }

    function submit_company() {
        if (!$("#frmCompany").valid())
            return;
        $("#frmCompany").submit();
    }

    function get_warhouses() {
        var company = $("#Company").val();
        $.get(app.url + "/Account/Company/?handler=Warhouses&company=" + company, function (data) {
            if (data.success) {
                $("#Warhouse").empty();
                for (var i = 0; i < data.warhouses.length; i++) {
                    var txt = data.warhouses[i].warhsdes;
                    var val = data.warhouses[i].warhs;
                    if (i == 0)
                        $('#Warhouse').append(new Option(txt, val, true, true));
                    else
                        $('#Warhouse').append(new Option(txt, val, false, false));
                }
                select_change();
            }
        });
    }
</script>



