@page
@model HarelTech.WMS.App.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    ViewData["PageTitle"] = "Quick WMS";
}
@Html.AntiForgeryToken()

    <div class="animated fadeIn faster" style="margin-top:80px;">
        <div class="text-center">
            <h1><span style="color:#3DBFD9">Quick</span><span style="color:#4C545B"> WMS</span></h1>
            <h2 class="mt-5">
                LOGIN
            </h2>
            @*<h6 class="mt-3" style="opacity: 0.6;">My Slogen goes here</h6>*@
        </div>
        <div class="text-center mt-5">
            <div id="login_error" class="alert alert-danger" role="alert" style="display: none;">
                <h6>LOGIN FAILED</h6>
                <span id="login_error_message"></span>
            </div>
        </div>
        <div class="card">
            <div class="card-body px-sm-4">
                <form id="frmLogin" style="color: #757575;" method="post">
                    <input type="hidden" id="Companies" asp-for="@Model.UserLogin.Companies" value=""/>
                    <div class="md-form">
                        <i class="fas fa-user prefix"></i>
                        <input id="UserName" asp-for="@Model.UserLogin.UserName" class="form-control" autofocus required value="wmsuser">
                        <label for="materialLoginFormEmail">Username</label>
                    </div>
                    <div class="md-form">
                        <i class="fas fa-lock prefix"></i>
                        <input type="password" id="Password" asp-for="@Model.UserLogin.Password" class="form-control" required value="12345">
                        <label for="materialLoginFormPassword">Password</label>
                    </div>
                    <button id="btn_login" class="btn btn-primary btn-block my-4 waves-effect">
                        Enter
                        <i class="fas fa-arrow-right float-right"></i>
                    </button>

                </form>
            </div>
        </div>
    </div>
    
    
<script>
    $(document).ready(function () {
        $("#btn_login").on("click", function (e) {
            e.preventDefault();
            if (!$("#frmLogin").valid())
                return;
            var user = document.getElementById("UserName").value;
            var pass = document.getElementById("Password").value;

            app.signin(user, pass);

        });
    });

    
</script>