<div class="modal fade" id="modalConfirmDeleteSerials" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" style="font-weight: 700 !important;">
    <div class="modal-dialog modal-sm modal-notify modal-danger modal-dialog-centered" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Are you sure?</p>
            </div>

            <!--Body-->
            <div class="modal-body">
                <p>Delete all connected serials to this Lot?</p>
            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                <a onclick="delete_open_task_serials();" class="btn  btn-outline-danger">Yes</a>
                <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>